@model Mayhem.WebUI.Models.LoginCredentials
@{
    ViewBag.Title = "Create";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("SiteUser", "CreateOrUpdate", FormMethod.Post, new { @id = "loginForm" }))
{
    <div class="formBox">
        <h1>
            @Model.Dispatcher.LastName, @Model.Dispatcher.FirstName:</h1>
        @Html.HiddenFor(model => model.Dispatcher.DispatcherId)
        @Html.HiddenFor(model => model.Create)
        
        <label class="errorLabel">
            <span class="noValidate">Username</span>
            @Html.TextBoxFor(model => model.Username, new { @class = "input_text" })
            @Html.ValidationMessageFor(model => model.Username)
        </label>
        <label class="errorLabel">
            <span class="noValidate">Password</span>
            @Html.PasswordFor(model => model.Password, new { @class = "input_text" })
            @Html.ValidationMessageFor(model => model.Password)
        </label>
        <label class="errorLabel">
            <span class="noValidate">Valid User</span>
            @Html.RadioButtonFor(model => model.IsValidUser,true,  new { @id="isValidUser_True", @class = "input_Radio" })
            <label class="radioLabel" for="isValidUser_True">Yes</label>
            @Html.RadioButtonFor(model => model.IsValidUser,true,  new { @id="isValidUser_False", @class = "input_Radio" })
            <label class="radioLabel" for="isValidUser_False">No</label>
            @Html.ValidationMessageFor(model => model.IsValidUser)
        </label>
        <label>
            <input type="submit" value="Create" class="button" />
        </label>
    </div>
    <div>
        @Html.ActionLink("[Back to List]", "Index", "Dispatcher", null, new { @class = "floatRight buttonText" })
    </div>
    @Html.ValidationSummary(true)
}
