@model IEnumerable<Mayhem.DTO.Channel>
@{
    ViewBag.Title = "Channels";
}
<script src="@Url.Content("~/DataTables-1.9.1/media/js/jquery.dataTables.js")" type="text/javascript"></script>
<p>
    @Html.ActionLink("[Create New]", "Create", null, new { @class = "floatRight buttonText" })
</p>
<table id="channelIndexTable" class="display">
<thead>
    <tr>
        <th>
            ChannelName
        </th>
        <th></th>
    </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChannelName)
        </td>
        <td>
        @if (item.ChannelId != 1)
        {
            @Html.ActionLink("[Edit]", "Edit", "Channel", new { channelId = item.ChannelId }, new { @class = "buttonText" }) <text>|</text>
            @Html.ActionLink("[Delete]", "Delete", "Channel", new { channelId = item.ChannelId }, new { @class = "buttonText" })
            }
        </td>
    </tr>
}

</table>
