@model IEnumerable<Mayhem.WebUI.Models.PrimaryIncidentViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            CaseNumber
        </th>
        <th>
            IncidentDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CaseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentDate)
        </td>
        <td>
            @Html.ActionLink("[Edit]", "Edit", new { incidentId=item.CaseNumber}) |
            @Html.ActionLink("[Delete]", "Delete", new { incidentId = item.CaseNumber})
        </td>
    </tr>
}

</table>
