@model IEnumerable<Mayhem.WebUI.Models.DispatcherViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
    <th>
            Dispatcher ID
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Role Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DispatcherId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleTypeDescription)
        </td>
        <td>
            @Html.ActionLink("[Edit]", "Edit", new { dispatcherId = item.DispatcherId }) |
            @Html.ActionLink("[Delete]", "Delete", new { dispatcherId = item.DispatcherId })
            
            @if (!Mayhem.Logic.Provider.UserIsDispatcher(User.Identity.Name)
                    && !Mayhem.Logic.Provider.UserIsEvaluator(User.Identity.Name)
                    && item.RoleTypeDescription != "Dispatcher")
                {
                <text>|</text>
                @Html.ActionLink("[Login Credentials]", "CreateOrUpdate", "SiteUser", new { dispatcherId = item.DispatcherId }, null)
            }
        </td>
    </tr>
}

</table>
