@model IEnumerable<Mayhem.DTO.Shift>
@{
    ViewBag.Title = "Shifts";
}
<script src="@Url.Content("~/DataTables-1.9.1/media/js/jquery.dataTables.js")" type="text/javascript"></script>
<p>
    @Html.ActionLink("[Create New]", "Create", null, new { @class = "floatRight buttonText" })
</p>
<table id="shiftIndexTable" class="display">
<thead>
    <tr>
        <th>
            Shift Name
        </th>
        <th>
            Shift Abbreviation
        </th>
        <th></th>
    </tr>
</thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftAbbreviation)
        </td>
        <td>
            @Html.ActionLink("[Edit]", "Edit", "Shift", new { shiftId = item.ShiftId }, new { @class = "buttonText" }) |
            @Html.ActionLink("[Delete]", "Delete", "Shift", new { shiftId = item.ShiftId }, new { @class = "buttonText" })
        </td>
    </tr>
}

</table>
